openapi: 3.1.0
info:
  title: Ray Bridge API
  version: v0.1
  description: >
    Neutral decision-routing API for AI agents to discover,
    understand, and hand off real-world services.

servers:
  - url: https://api.raybridge.dev
    description: Reference endpoint (non-production)

paths:
  /discover:
    post:
      summary: Discover available service options
      operationId: discover
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Intent'
      responses:
        '200':
          description: List of discovered options
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecisionResult'

  /details:
    post:
      summary: Retrieve details for a selected option
      operationId: details
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Intent'
      responses:
        '200':
          description: Detailed information for decision-making
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecisionResult'

  /handoff:
    post:
      summary: Provide official handoff to the source service
      operationId: handoff
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HandoffRequest'
      responses:
        '200':
          description: Official action endpoint reference
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HandoffResponse'

components:
  schemas:
    Intent:
      type: object
      required:
        - action
        - category
      properties:
        action:
          type: string
          enum: [discover, details]
        category:
          type: string
          description: Service category (e.g. booking, marketplace, services)
        query:
          type: object
          additionalProperties: true

    DecisionResult:
      type: object
      properties:
        source:
          type: string
          description: Originating service name
        options:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              label:
                type: string
              summary:
                type: string
              metadata:
                type: object
                additionalProperties: true

    HandoffRequest:
      type: object
      required:
        - source
        - option_id
      properties:
        source:
          type: string
        option_id:
          type: string

    HandoffResponse:
      type: object
      properties:
        url:
          type: string
          format: uri
        method:
          type: string
          example: GET
